<div class="job-board">
  <div class="job-board__navbar">
    <div class="job-board__navbar__item" *ngFor="let navItemName of navBar.listItems; let i = index;" (click)="navBar.currentSelected = i" [class.job-board__navbar__item--selected]="navBar.currentSelected == i">
      <p>{{navItemName}}</p>
    </div>
  </div>
  <div class="job-board__list">
    <ng-container *ngFor="let job of jobBoard.list; let i = index;">
      <ng-container *ngIf="navBar.currentSelected == job.expireStatus || navBar.currentSelected == 0">
        <div class="job-board__list__item" [ngStyle]="job.style">
          <div class="job-board__list__item__position"><p>{{job.position}}</p></div>
          <div class="job-board__list__item__level"><p>{{job.level}}</p></div>
          <div class="job-board__list__item__languages">
            <ng-container *ngFor="let languageIndex of job.langRequirement; let i = index;">
              <p>{{languagesList[languageIndex]}}</p>
            </ng-container>
          </div>
          <div class="job-board__list__item__description"><p>{{job.description}}</p></div>
          <div class="job-board__list__item__diploma"><p>{{diplomasList[job.diploma]}}</p></div>
          <div class="job-board__list__item__company"><p>{{job.company}}</p></div>
          <div class="job-board__list__item__email"><p>{{job.email}}</p></div>

          <div class="job-board__list__item__expire-date"><p>{{job.expireDate}}</p></div>
        </div>
      </ng-container>
    </ng-container>
  </div>
  <div class="job-board__form-wrapper">
    <form class="job-board__form-wrapper__form">
      <div class="job-board__form-wrapper__form__split">
        <input type="text" placeholder=" > Position" name="position" [value]="form.values.position" (input)="form.values.position = $event.target.value"/>
        <input type="text" placeholder=" > Level" name="level" [value]="form.values.level" (input)="form.values.level = $event.target.value"/>
      </div>
      <div class="job-board__form-wrapper__form__single">
        <div class="job-board__form-wrapper__form__single__languages">
          <ng-container *ngFor="let language of languagesList; let i = index;">
            <p class="job-board__form-wrapper__form__single__languages__language" [class.job-board__form-wrapper__form__single__languages__language--selected]="form.values.langRequirement.indexOf(i) !== -1" (click)="selectLang(i)">{{language}}</p>
          </ng-container>
        </div>
      </div>
      <div class="job-board__form-wrapper__form__single">
        <textarea placeholder=" > Description" class="job-board__form-wrapper__form__single__description" [value]="form.values.description" (input)="form.values.description = $event.target.value"></textarea>
      </div>
      <div class="job-board__form-wrapper__form__split">
        <input type="date" name="expireDate" [value]="form.values.expireDate" (change)="form.values.expireDate = $event.target.value"/>
        <select (change)="form.values.diploma = $event.target.value" [value]="form.values.diploma">
          <ng-container *ngFor="let diploma of diplomasList; let i = index;">
            <option [value]="i">{{diploma}}</option>
          </ng-container>
        </select>
      </div>
      <div class="job-board__form-wrapper__form__split">
        <input placeholder=" > Company" type="text" name="company" [value]="form.values.company" (input)="form.values.company = $event.target.value"/>
        <input placeholder=" > Email" type="email" name="email" [value]="form.values.email" (input)="form.values.email = $event.target.value"/>
      </div>
      <div class="job-board__form-wrapper__form__single">
        <input type="color" [value]="form.values.style['background-color']" (change)="form.values.style['background-color'] = $event.target.value" />
      </div>
      <button (click)="post($event)">Post</button>
    </form>
  </div>
    <pre>
      {{form.values.position}}
      {{form.values.level}}
      {{form.values.langRequirement.toString()}}
      {{form.values.description}}
      {{form.values.expireDate}}
      {{form.values.diploma}}
      {{form.values.company}}
      {{form.values.email}}
      {{form.values.style['background-color']}}
    </pre>
</div>

